.video-summary{
    padding-top: 50px;
}
.summary{
    height: 300px;
    overflow: scroll;
}
.multiple-choice{
    margin-top: 50px;
}
#choice{
    cursor: pointer;
}
#choice :active{
    cursor: pointer;
}
#choice-word{
    cursor: pointer;
}
input:active {
outline: none;
border-style: none;

}