body{
    min-height: 1500px;
    background: #e1eef7;
    background: -moz-linear-gradient(top, #e1eef7 0%, #aecae5 19%, #94b7d3 41%, #6393c1 100%);
    background: -webkit-linear-gradient(top, #e1eef7 0%,#aecae5 19%,#94b7d3 41%,#6393c1 100%);
    background: linear-gradient(to bottom, #e1eef7 0%,#aecae5 19%,#94b7d3 41%,#6393c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1eef7', endColorstr='#6393c1',GradientType=0 );
        }
.navbar{
    background: #6393c1;
    height: 50px;
    position: fixed;
    z-index: 100;
}
.app-name{
    padding-top: 10px;
    color: white;
    font-weight: 600;
    font-size: 30px;

}
.page-container{
    padding-top: 100px;
    margin: auto;
}
.video{
}
.video-sum{

}
.video-sum-container{
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0px;
    height: 350px;
    box-shadow: 0px 10px 20px -2px #7fa7cc;
}
.summary{
    height: 300px;
    padding: 0;
    overflow: scroll;
    background: none;
}
.summary-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: -5px;
    width: 100%;
    color: #4981b6;
}
.mc-container{
    margin-top: 50px;
}
.question{
    background: rgba(255, 255, 255, 0.4);
}
.mc-card{
    margin-left: 30px;
    margin-right: 30px;
    background: none;
}
.mc-choice{
    background: none;
    margin-bottom: -5px;
}
.body{
  padding-top: 5px;
  padding-bottom: 10px;
  justify-content: space-around;
}
#choice{
    cursor: pointer;
    border: solid white 1px;
}
#choice :active{
    cursor: pointer;
}
#choice-word{
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: solid white 1px;
}
