<!doctype html>
<html lang="en">
  <head>
       <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title>Summary and Quiz</title>

      <link rel = "stylesheet" href="/static/entryPage.css">

  </head>

<body>
<div class= "container">
    <div>
        <p class="welcome">What would you like to review?</p>
        <div class="row">
        <div class="col-sm-2"></div>
        <nav class="col-sm-8 card entry-card">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link tab active" id="youtube-link-tab" data-toggle="tab" href="#youtube-link" role="tab" aria-controls="youtube-link" aria-selected="true">YouTube Link</a>
            <a class="nav-item nav-link tab" id="text-entry-tab" data-toggle="tab" href="#text-entry" role="tab" aria-controls="text-entry" aria-selected="false">Text Entry</a>
            <a class="nav-item nav-link tab" id="file-upload-tab" data-toggle="tab" href="#file-upload" role="tab" aria-controls="file-upload" aria-selected="false">File Upload</a>
          </div>
        <div class="tab-content content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="youtube-link" role="tabpanel">
            <form id="form1" method="post" action="/summary">
              {% csrf_token %}
                <input type="text" class="form-control link-input" placeholder="Paste YouTube link here...">
                <div class="col-sm-4 submit-col">
                </div>
                <button form="form1" class="btn btn-outline-light submit-btn" type="submit">submit</button>
              </form>
            </div>
          <div class="tab-pane fade" id="text-entry" role="tabpanel" aria-labelledby="nav-profile-tab">
            <form id="form2" method="post" action="/summary">
              {% csrf_token %}
              <div class="form-group">
                <textarea class="form-control text-input" rows="10" placeholder="Paste your text here..."></textarea>
              </div>
              <button form="form1" class="btn btn-outline-light submit-btn" type="submit">submit</button>
            </form>
            </div>
          <div class="tab-pane fade" id="file-upload" role="tabpanel" aria-labelledby="link-tab-content">
              <form id="form3" method="post", action="/summary">
                {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlFile1"></label>
                    <input type="file" class="form-control-file file-input" id="exampleFormControlFile1">
                  </div>
                  <button form="form1" class="btn btn-outline-light submit-btn" type="submit">submit</button>
                </form>
            </div>
        </div>
        </nav>
        </div>
        <div class="row submit-row">
        <div class=col-sm-4></div>

        <div class="col-sm-4"></div>
         </div>
    </div>
   <!-- Bootstrap js -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>


</html>
