{% load mathfilters %}

<!doctype html>
<html lang="en">
  <head>
       <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Summary and Quiz</title>

    <link rel = "stylesheet" href="/static/summaryQuizPage.css">
  </head>
<body>
  <nav class="navbar nav-bar-default navbar-fixed-top">
      <p class="app-name">RevU</p>
  </nav>
  <div class="page-container" style="width:100%">
    <div class="col-sm-12 video-sum-container">
      <div class="row video-sum" style="width:100%">
        <div class="col-md-1"></div>
        <div class="col-md-6 card text-card" style="width:100%">

            <p class="text-title card-header">Your Text</p>
            <p class="your-text" id="textbody">
              {{text}}
            </p>

        </div>
        <script type="text/javascript">
          function highlightText(sentence){
            var textBody=document.getElementById("textbody").innerHTML;
            var bIndex = textBody.indexOf("<b>");
            if(bIndex!=-1){
              var sbIndex=textBody.indexOf("</b>");
              textBody=textBody.substring(0, bIndex)+textBody.substring(bIndex+3, sbIndex)+textBody.substring(sbIndex+4);
            }
            var textIndex = textBody.indexOf(sentence);
            if(textIndex!=-1){
              document.getElementById("textbody").innerHTML=textBody.substring(0,textIndex)+"<b>"+sentence+"</b>"+textBody.substring(textIndex+sentence.length);
            }

          }

        </script>

        <div class="summary card col-md-4">
            <p class="summary-title card-header">Summary</p>
            {% for part in summary %}
            <a href='' onclick="highlightText({{part.sentence}}); return false;">{{part.sentence}}</a>
            {% endfor %}
        </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row search text-search">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div class="input-group mb-3">
            <input type="text" role="search" class="form-control" id="searchbar" placeholder="search the text for keywords..." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn" type="submit"><img src="/static/search.png" class="search-button"></button>
            </div>
        </div>
                <a href="" onclick="seekToWord(document.getElementById('searchbar').value); return false;" style="background-color: #AAA; height:fill-parent"><span class="input-group-addon" id="basic-addon2"></span></a>
              </div>
              <div class="col-md-1"></div>
            </div>
        {% for question in gap %}
        <div class="row mc-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mc-card">
                    <form class="card question">
                        <p class="card-header">{{question.gap_sentence}}</p>
                        {% for answer in question.distractors %}
                          <div class="body">
                          <div class="row">
                          <div class="col-sm-2"></div>
                          <button class="btn btn-default col-sm-8 mc-choice" onclick="checkAnswer({{ forloop.parentloop.counter|mul:4|add:forloop.counter }}, {{ question.answer }}, {{ quesiton.time }}); return false">
                              <label class="sr-only" for="inlineFormInputGroup"></label>
                              <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text" id="choice{{ forloop.parentloop.counter|mul:4|add:forloop.counter }}">{{ forloop.counter }}</div>
                              </div>
                            <input class="form-control" id="choice-word{{ forloop.parentloop.counter|mul:4|add:forloop.counter }}" placeholder={{answer}} readonly>
                            </div>
                          </button>
                          </div>
                          </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <h3 id="responseTime"></h3>
        </div>
        {% endfor %}

    </div>
<script>


    function checkAnswer(counter, answer, timestamp){
        if(counter%4==answer){
          document.getElementById("choice"+counter).style.background="#00cc99";
          document.getElementById("choice"+counter).style.color="white";
          document.getElementById("choice-word"+counter).style.background="#00cc99";
          document.getElementById("choice-word"+counter).style.color="white";
        }
        else{
          document.getElementById("choice"+counter).style.background="#ff3333";
          document.getElementById("choice"+counter).style.color="white";
          document.getElementById("choice-word"+counter).style.background="#ff3333";
          document.getElementById("choice-word"+counter).style.color="white";
        }






    }
</script>
</body>
</html>
