<!doctype html>
<html lang="en">
  <head>
       <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Summary and Quiz</title>

    <link rel = "stylesheet" href="/static/summaryQuizPage.css">
  </head>
<body>
    <div class="container" style="width:100%">
      <div class="row video-summary" style="width:100%">
        <div class="col-md-1"></div>
          <div class="col-md-6" style="width:100%">
            <div id="player" style="width:100%; height:100%; "></div>

            <script>
              // 2. This code loads the IFrame Player API code asynchronously.
              var tag = document.createElement('script');

              tag.src = "https://www.youtube.com/iframe_api";
              var firstScriptTag = document.getElementsByTagName('script')[0];
              firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

              // 3. This function creates an <iframe> (and YouTube player)
              //    after the API code downloads.
              var player;
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  videoId: 'C1xwCUMbcCc'
                });
              }

              function onPlayerReady(event) {
                event.target.playVideo();
              }
              function stopVideo() {
                player.stopVideo();
              }
            //generic seekTo function taking a player element and seconds as parameters
            function playerSeekTo(seconds) {
                player.seekTo(seconds);
            }



            </script>
          </div>
        <div class="summary col-md-4">
            <p class="summary-title">Summary</p>
            {% for part in summary %}
            <a href=?{{part.time}}>{{part.sentence}}</a>
            {% endfor %}
        </div>
          <div class="col-md-1"></div>
        </div>
        {% for question in gap %}
        <div class="row mc-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mc-card">
                    <form class="card question">
                        <p class="card-header">{{question.gap_sentence}}</p>
                        {% for answer in question.distractors %}
                          <div class="body">
                          <div class="row">
                          <div class="col-sm-2"></div>
                          <button class="btn btn-default col-sm-8 mc-choice" onclick="colorChange(); return false">
                              <label class="sr-only" for="inlineFormInputGroup"></label>
                              <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text" id="choice">{{ forloop.counter }}</div>
                              </div>
                            <input class="form-control" id="choice-word" placeholder={{answer}} readonly>
                            </div>
                          </button>
                          </div>
                          </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}

        
    </div>

<script>


    function colorChange(){
        document.getElementById("choice").style.background="#00cc99";
        document.getElementById("choice").style.color="white";
        document.getElementById("choice-word").style.background="#00cc99";
        document.getElementById("choice-word").style.color="white";

    }
</script>
</body>

</html>
