{% load mathfilters %}

<!doctype html>
<html lang="en">
  <head>
       <!-- Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Summary and Quiz</title>

    <link rel = "stylesheet" href="/static/summaryQuizPage.css">
  </head>
<body>
  <nav class="navbar nav-bar-default navbar-fixed-top">
      <p class="app-name">RevU</p>
  </nav>
  <div class="page-container" style="width:100%">
    <div class="col-sm-12 video-sum-container">
      <div class="row video-sum" style="width:100%">
        <div class="col-md-1"></div>
        <div class="col-md-6 card text-card" style="width:100%">

            <p class="text-title card-header">Your Text</p>
            <div class="your-text">
              {{text}}
            </div>

        </div>
        <div class="summary card col-md-4">
            <p class="summary-title card-header">Summary</p>
            {% for part in summary %}
            {{part.sentence}}
            {% endfor %}
        </div>
          <div class="col-md-1"></div>
        </div>
        {% for question in gap %}
        <div class="row mc-container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="mc-card">
                    <form class="card question">
                        <p class="card-header">{{question.gap_sentence}}</p>
                        {% for answer in question.distractors %}
                          <div class="body">
                          <div class="row">
                          <div class="col-sm-2"></div>
                          <button class="btn btn-default col-sm-8 mc-choice" onclick="checkAnswer({{ forloop.parentloop.counter|mul:4|add:forloop.counter }}, {{ question.answer }}); return false">
                              <label class="sr-only" for="inlineFormInputGroup"></label>
                              <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text" id="choice{{ forloop.parentloop.counter|mul:4|add:forloop.counter }}">{{ forloop.counter }}</div>
                              </div>
                            <input class="form-control" id="choice-word{{ forloop.parentloop.counter|mul:4|add:forloop.counter }}" placeholder={{answer}} readonly>
                            </div>
                          </button>
                          </div>
                          </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
            <div class="container" style="text-align: center;">
              <b><h6 id="responseText{{ forloop.counter }}" style="color:white;"></h6></b>
            </div>
            
        </div>
        {% endfor %}

    </div>
<script>


    function checkAnswer(counter, answer){
        if(counter%4==answer){
          document.getElementById("choice"+counter).style.background="#00cc99";
          document.getElementById("choice"+counter).style.color="white";
          document.getElementById("choice-word"+counter).style.background="#00cc99";
          document.getElementById("choice-word"+counter).style.color="white";
          document.getElementById("responseText"+Math.floor(counter/4)).innerHTML="Correct!";
        }
        else{
          document.getElementById("choice"+counter).style.background="#ff3333";
          document.getElementById("choice"+counter).style.color="white";
          document.getElementById("choice-word"+counter).style.background="#ff3333";
          document.getElementById("choice-word"+counter).style.color="white";
          document.getElementById("responseText"+Math.floor(counter/4)).innerHTML="That is incorrect. The correct answer was "+answer+".";
          document.getElementById("choice"+((counter-counter%4)+answer)).style.background="#00cc99";
          document.getElementById("choice"+((counter-counter%4)+answer)).style.color="white";
          document.getElementById("choice-word"+((counter-counter%4)+answer)).style.background="#00cc99";
          document.getElementById("choice-word"+((counter-counter%4)+answer)).style.color="white";
        }






    }
</script>
</body>
</html>
