Django==1.11
django-braces==1.12.0
django-friendship==1.5.0
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.0.8
djangorestframework==3.7.7
oauthlib==2.0.6
whitenoise==3.2.1
psycopg2==2.7.3.2
PyJWT==2.4.0
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
urllib3==1.22
gunicorn==19.7.1
wheel==0.30.0
dj-database-url==0.4.2
Pillow==5.0.0
channels~=2.0,>=2.0.2
channels_redis~=2.0
django-mathfilters==0.4.0
